@import "common.scss";
// @import "../../node_modules/highlight.js/styles/docco.css";
@import "../../node_modules/highlight.js/styles/mono-blue.css";
// @import "../../node_modules/highlight.js/styles/color-brewer.css";

// 自定义md样式
section {
    color: #1f2f3d;
    font-size: 14px;
    ul {
        margin: 16px 0px;
        padding-left: 24px;
        list-style: disc;
        li{
            line-height: 1.8;
        }
    }
    .le {
        padding: 32px;
        border: 1px solid #e2ecf4;
        border-radius: 4px 4px 0 0;
        background-color: #fff;
        margin-top: 16px;
    }
    h1,h2,h3,h4,h5 {
        margin: 16px 0!important;
        line-height: 1.5;
        font-weight: 500;
    }
    h1{
        font-size: 28px;
    }
    hr {
        margin: 1.2em 0;
        border: 0;
        border-bottom: 1px solid #C5D9E8;
    }
    p {
        padding: 0;
        line-height: 1.7;
        color: #3f536e;
        font-size: 14px;
        margin: 0px;
        code {
            color: #5e6d82;
            background-color: #e6effb;
            margin: 0 4px;
            display: inline-block;
            padding: 1px 5px;
            border-radius: 3px;
            height: 18px;
            line-height: 1;
            word-wrap: break-word;
        }
    }
}
.table {
    display: block;
    width: 100%;
    background-color: #fff;
    font-size: 14px;
    border-collapse: collapse;
    margin-bottom: 45px;
    overflow: auto;
    th {
        border-top: 1px solid #f3f7fa;
        background-color: #fafbfc;
        border-bottom: 1px solid #d8d8d8;
        padding: 15px 20px;
        text-align: left;
        color: #5c6b77;
    }
    td {
        border-top: 1px solid #f3f7fa;
        border-bottom: 1px solid #d8d8d8;
        padding: 15px 20px;
        color: #314659;
        &:first-child {
            width: 10%;
        }
        &:last-child {
            width: 10%;
        }
        &:nth-child(2) {
            width: 30%;
        }
        &:nth-child(3) {
            color: #c41d7f;
            width: 10%;
        }
        &:nth-child(4) {
            width: 25%;
        }
    }
}

.demo-block {
    .bt-button {
        margin-left: 10px;
    }
}